.*
creator-project/local/
creator-project/temp/
creator-project/build/
creator-project/settings/

lua-project/res/raw-assets/
lua-project/res/raw-internal/
lua-project/src/imports/
lua-project/frameworks/runtime-src/proj.ios_mac/build/
lua-project/runtime/
lua-project/simulator/

contents.xcworkspacedata
xcuserdata

installer/mac/Install\ Legacy\ Support.app/Contents/Resources/dists/
installer/mac/*.dmg

