.*
creator-project/local/
creator-project/temp/
creator-project/build/
creator-project/settings/

lua-project/

contents.xcworkspacedata
xcuserdata

installer/mac/Install\ Lua\ Support.app/Contents/Resources/dists/
installer/mac/*.dmg

installer/win/*.exe

